parameters:
    level: 7
    paths:
        - src
        - tests
    checkMissingIterableValueType: true
    checkGenericClassInNonGenericObjectType: true
    checkMissingVarTagTypehint: true
    treatPhpDocTypesAsCertain: true
